/* Background kiri */
.left-login {
  width: 35%;
  background-image: url('/image/foto_sekolah.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.text-welcome {
  font-family: 'Poppins-Bold', sans-serif;
  color: white;
  font-size: 36px;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

/* Tombol */
.button {
  background-color: #447d9b;
  border: none;
  border-radius: 12px;
  color: #fff;
  padding: 14px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #35647a;
}

.main-footer {
    background-color: #447d9b; /* abu gelap */
    color: white;
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    position: relative;
    z-index: 5;
    margin-top: -25px;

}

/* Form Container */
.form-login {
  width: 100%;
}

/* Label */
.label-input {
  display: block;
  margin-bottom: 0.5rem;
  color: #4b5563; /* text-gray-600 */
  font-weight: 500;
}

/* Input Field */
.input-field {
  width: 100%;
  padding: 0.75rem 1rem; /* px-4 py-3 */
  margin-bottom: 1.5rem;
  background-color: #f3f4f6; /* bg-gray-100 */
  border-radius: 0.5rem; /* rounded-lg */
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.input-field:focus {
  box-shadow: 0 0 0 2px #447d9b; /* focus:ring-[#447d9b] */
}

/* Font */
@font-face {
  font-family: 'Poppins-Regular';
  src: url('/font/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/font/Poppins/Poppins-Bold.ttf') format('truetype');
}
